/* prettier-ignore */
/* title */
h1 {
  color: black;
  font-family: Georgia;
  font-weight: 600;
  font-size: 40px;
  text-transform: uppercase;
  border-top: 5px solid black;
  margin-top: 10px;
  margin-bottom: 0px;
  text-align: center;
}
h2 {
  color: black;
  font-family: Georgia;
  font-weight: 400;
  font-size: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}

/* background color + keep body fixed so only output is scrollable */
body {
  margin: 0;
  background-color: #3385d6;
  color: black;
  font-family: Georgia;
  font-size: 20px;
  position: fixed;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* search/tab control */
div.controlbar {
  display: flex;
  flex-direction: row;
}
div.prevnext {
  width: 20vw;
  text-align: center;
}
div.searchbar {
  width: 60vw;
  text-align: center;
}
div.tab {
  width: 20vw;
  text-align: center;
}

button.styled {
  transition: 0.2s;
  background-color: white;
  color: black;
  font-size: 20px;
  text-align: center;
  border: 2px solid black;
  border-radius: 5%;
  font-family: Georgia;
  letter-spacing: 2px;
}
button.styled:hover {
  transition: 0.2s;
  color: #0066cc;
  font-weight: 200;
  border: 2px #0066cc;
}
button.styled:active {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
}
button.categoryBtn {
  width: 225px;
  margin: 10px auto 0; /*external spacing (between other elements) */
}

/* output */
.scrollable {
  overflow-x: hidden;
  overflow-y: auto;
  height: 85vh;
  border-top: 10px white;
}

.article {
  transition: 0.2s;
  border: 1px solid black;
  text-align: left;
  padding: 20px;
  display: inline-block;
  width: 90vw;
  background: white;
}
.article:hover {
  transition: 0.2s;
  border: 3px solid black;
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
  transform: scale(1.02);
}

img {
  border-radius: 10%;
  float: left;
  width: 400px;
  margin-right: 20px;
}

p {
  font-size: 20px;
}

a:link {
  color: blue;
  text-decoration: none;
}
a:visited {
  color: blue;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:active {
  color: white;
}
